= form_with(url: login_path, local: true) do |f|
  .field
    .control.has-icons-left
      = f.text_field :name_or_email, class: 'input is-medium', placeholder: t('.name_or_email'), required: true
      %span.icon.is-small.is-left
        %i.fa.fa-user
  .field
    .control.has-icons-left
      = f.password_field :password, class: 'input is-medium', placeholder: t('.password'), required: true
      %span.icon.is-small.is-left
        %i.fa.fa-lock
  .actions
    = f.submit t('common.login'), class: 'button is-primary is-large is-fullwidth'
