.columns.is-mobile.is-centered
  .column.is-two-thirds
    %p.is-size-3.has-text-centered 東方編曲録 にログイン
    %hr
    .columns.is-mobile.is-centered
      .column
        .is-divider
          = link_to '新規登録', new_user_path
      .is-divider-vertical{ data: { content: 'OR' } }
      .column
        = render 'shared/notification'
        = render 'form'
