.columns.is-mobile.is-centered
  .column.is-two-thirds
    %p.is-size-3.has-text-centered 東方編曲録 にログイン
    %hr
    .columns.is-mobile.is-centered
      .column
        = link_to auth_at_provider_path(provider: :twitter), class: 'button is-medium is-fullwidth is-info' do
          %span.icon.is-medium
            %i.fa.fa-twitter
          %span
            Twitterアカウントでログイン
        .is-divider
          = link_to '新規登録', new_user_path
      .is-divider-vertical{ data: { content: 'OR' } }
      .column
        = render 'shared/notification'
        = render 'form'
