.columns.is-mobile.is-centered
  .column.is-two-thirds
    %p.is-size-3.has-text-centered 東方編曲録 へようこそ！
    %p.is-size-5.has-text-centered 新規登録(無料)して利用開始しましょう。
    %hr
    .columns.is-mobile.is-centered
      .column
        = link_to auth_at_provider_path(provider: :twitter), class: 'button is-medium is-fullwidth is-info' do
          %span.icon.is-medium
            %i.fa.fa-twitter
          %span
            Twitterアカウントで登録
        .is-divider
          = link_to 'ログイン', login_path
      .is-divider-vertical{ data: { content: 'OR' } }
      .column
        = render 'form'
