@import '~bulma/bulma';
@import '~bulma-extensions/dist/bulma-extensions.min';

$mdi-font-path: '~mdi/fonts/';
@import '~mdi/scss/materialdesignicons';

html {
  height: 100%;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main.container{
  flex: 1;
}

#main.content {
  flex: 1;
}

#main.columns {
  flex: 1;
}

.side_menu {
  margin: 12px;
}
