- content_for :title do
  = t('.title')
.columns
  .column.is-11
    .hero
      .hero-body
        .level
          .level-left
            .level-item
              %h1.title
                = t('.title')
    = render 'form', circle: @circle
